:root {
  --font-sans: 'Roboto', Arial, sans-serif;
  --blue: #00ACDC;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  font-size: 12px;
  font-weight: 500;
  background-color: white;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  padding: 30px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li + li {
  margin-left: 30px;
}

.nav-list a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  position: relative;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}


.nav-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--blue);
  transition: width 0.3s;
}

.nav-list a:hover::after {
  width: 100%;
}

.nav-list a[data-qa="hover"]:hover {
  color: var(--blue);
}

.nav-list a:hover {
  color: var(--blue);
}

.nav-list a.is-active {
  color: var(--blue);
}

.nav-list a.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
}

